
body {

background-color:#E9C9B1;
font-family: 'Helvetica';
	color:black;
}
header {
	color:black;
background-color:#CC5500;
}
h1 {
	font-size: 180%;
	font-family: 'BlogScriptW00-Regular';
	color:black;
	text-align:center;
	margin: 1px;
}
h2 {
	font-size: 140%;
	font-family: 'BlogScriptW00-Regular';
	color:#CC5500;
	text-align:center;
}


.experiences {margin-top: 4%;}
.formations {margin-top: 4%;}
.competences {margin-top: 4%;}
.hobbies {margin-top: 4%;}
.cv {font-size: 90%;}

.savoirplus {
	color:black;
}

 .wrapper1
    {display: grid; 
    grid-template-columns: 100%;
    grid-template-rows: 0,5fr 0,5fr 0,5fr 0,5fr;
    text-align : center;
    padding-top: 6%;
    box-shadow: 5px 0px 5px #222;
}
}
    .photo {grid-column-start: 1;
      grid-column-end:1;
      grid-row-start: 1;
      grid-row-end: 1;}
      .nom {grid-column-start: 1;
      grid-column-end:1;
      grid-row-start: 2;
      grid-row-end: 3;}
       .age {grid-column-start: 1;
      grid-column-end:1;
      grid-row-start: 3;
      grid-row-end: 4;}
      .diplome {grid-column-start: 1;
      grid-column-end:3;
      grid-row-start: 4;
      grid-row-end: 4;}
      .cv {grid-column-start: 2;
      grid-column-end:3;
      grid-row-start: 4;
      grid-row-end: 4;
  }

      .wrapper2
    {display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0,5fr 0,5fr;
    text-align : center;
    padding-top: 2%;
    border:solid 5px;
    background-color: #E9C9B1;
    border-color: black;

}
    .savoirplus
    {grid-column-start: 2;
      grid-column-end:4;
      grid-row-start: 1;
      grid-row-end: 2;
      align-content: center}
    .linkedin {grid-column-start: 1;
      grid-column-end:2;
      grid-row-start: 2;
      grid-row-end: 3;}
      .mail {grid-column-start: 2;
      grid-column-end:3;
      grid-row-start: 2;
      grid-row-end: 3;}
       .numero {grid-column-start: 3;
      grid-column-end:4;
      grid-row-start: 2;
      grid-row-end: 3;}
      .adresse {grid-column-start: 4;
      grid-column-end:5;
      grid-row-start: 2;
      grid-row-end: 3;}

      
      	